@charset "ISO-8859-1";

*{
	background-color: gray;
}

#CardInmueble{
	margin: auto;
	width:80%;
	background-color: rgb(128, 128, 64);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4rem;
}

.cardItem{
	border: 3px solid black;
}
.cardPhoto{
	border: 3px solid black;
}

.cardLinks{
	border: 3px solid black;
}